.chessboard {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  width: 320px;
  border: 2px solid #333;
}
.row {
  display: grid;
  grid-template-columns: repeat(8, 40px);
}
.cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  font-size: 24px;
  background: #f0d9b5;
  cursor: pointer;
}
.cell.selected {
  background: #baca44;
}
.cell:nth-child(even) {
  background: #b58863;
}
